

h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .login-card {
    position: absolute;
    top : 20%;
    left : 35%;
    bottom: auto;
    right: 25%;
    background-color: #F7F7F7;
    width: 30%;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .sign-in-card{
    position: absolute;
    top : 20%;
    left : 20%;
    bottom: auto;
    right: 15%;
    background-color: #F7F7F7;
    width: 60%;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .login-content{
    padding: 3%;
    text-align: center;
  }
  
  .accounttype{
    margin-left: 8px;
    margin-top: 20px;
  }
 
  
.margin-input{
  margin-left: 20%;
  margin-right: 20%;
}


.hr{
    color: #a9a9a9;
    opacity: 0.3;
  }


  .btn-inscri{
    width: 100%;
    background-color:rgb(75, 91, 184);
    border: none;
    height: 100%;
    color :white;
  }

  .btn-inscri-1{
    width: 100%;
    background-color:white ;
    border: none;
    height: 8vh;

  }

  .inscri{
    background-color:rgb(75, 91, 184);
  }
  .inscri-1{
    background-color:rgb(255, 255, 255);
  }

  
  .inscription-1{
    background-color:#4a63af;
    padding: 0 6px;
    transition: background-color .1s linear,border-color .1s linear,color .1s linear;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    color:white;
    justify-content: center;
    height: 40px;
    outline: none;
    display: inline-flex;
    width : 40% ;
    vertical-align: middle;
    align-items: center;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    -webkit-tap-highlight-color: transparent;
  
  }
  .inscription-1:hover{
    background-color: #aebbe4;
    text-decoration: none;
  }

  
  .connecter-1{
    background-color: rgba(64,87,109,.07);
    padding: 0 6px;
    transition: background-color .1s linear,border-color .1s linear,color .1s linear;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    color: #0e1318;
    justify-content: center;
    height: 40px;
    outline: none;
    display: inline-flex;
    width: 40%;
    vertical-align: middle;
    align-items: center;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    -webkit-tap-highlight-color: transparent;
  
  }
  .connecter-1:hover{
    background-color: #ebebe0;
  }
